<!-- Background image -->
<div
class="p-5 bg-image"
style="
background-image: url('./collage.jpg');
height: 105px;
"
>
<div class="mask" style="background-color: rgba(8, 8, 8, 0.2);">
<div class="d-flex justify-content-center align-items-center h-100">
<div class="text-white">
<!-- 
  <h1 class="mb-3">Edizione scientifica digitale e la traduzione italiana della raccolta degli scenari delle commedie dell’arte rappresentate alla corte di San Pietroburgo dal 1733 al 1735</h1>
-->
</div>
</div>
</div>
<!-- Background image -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{site.baseurl}}/">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{site.baseurl}}/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{site.baseurl}}/about.html">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Opere</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="menuWorks"></ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Personaggi</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="menuAgents">
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{site.baseurl}}/documentation.html">Documentazione</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{site.baseurl}}/team.html">Team</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




  